<form class="col-4 offset-4 mt-5">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items$|async">{{item.name}}</li>
  </ul>

</form>
<!--
for %n in (
    observable
    subscription
    subject
    scheduler
    piping
    higherOrderObservables
    marbleDiagrams
    ajax
    bindCallback
    bindNodeCallback
    defer
    empty
    from
    fromEvent
    fromEventPattern
    generate
    interval
    of
    range
    throwError
    timer
    iif
    combineLatest
    concat
    forkJoin
    merge
    race
    zip
    audit
    auditTime
    debounce
    debounceTime
    distinct
    distinctKey
    distinctUntilChanged
    distinctUntilKeyChanged
    elementAt
    filter
    first
    ignoreElements
    last
    sample
    sampleTime
    single
    skip
    skipLast
    skipUntil
    skipWhile
    take
    takeLast
    takeUntil
    takeWhile
    throttle
    throttleTime
    combineAll
    concatAll
    exhaust
    mergeAll
    startWith
    withLatestFrom
    multicast
    publish
    publishBehavior
    publishLast
    publishReplay
    share
    catchError
    retry
    retryWhen
    tap
    delay
    delayWhen
    dematerialize
    materialize
    observeOn
    subscribeOn
    timeInterval
    timestamp
    timeout
    timeoutWith
    toArray
    defaultIfEmpty
    every
    find
    findIndex
    isEmpty
    count
    max
    min
    reduce
); do ng g c pages/%n
-->
