<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">Vamsee RXJS Training</a>
</nav>
<div class="container-fluid mt-5 pt-2">
  <div class="row d-flex">
    <app-side-menu *ngIf="showSideMenu"
                   [isRoot]="true"
                   class="app-side-menu d-block p-2 border mt-2 ml-2"
                   [menuDataProvider]="menuData"
                   (activeMenuChange)="changeActivePage($event)"
                   [(activeMenu)]="activeMenu"
    ></app-side-menu>
    <div class="border flex-fill m-2 p-2" style="height:calc(100vh - 80px);">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
